<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>Store APP</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/products">Productos</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/cart">Carro de Compra</a>
      </li>

    </ul>

    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius [hidden]="!visual">
        <a class="nav-link" routerLink="/login">login</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius [hidden]="visual">
        {{fullname}}<a class="nav-link" routerLink="/logout">logout</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" ><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <router-outlet></router-outlet>
</main>